#options-map {
    position: absolute;
    display: block;
    width: 400px;
    height: 500px;
    left: 1.5%;
    background: #305252;
    border-radius: 15px;
}

#option-map-header {
    color: white;
    font-size: 22pt;
    font-family: AdventPro;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

#option-map-options {
    margin-top: 5px;
    margin-bottom: 17px;
}

.option-row-col {
    width: 90%;
    left: 5%;
    position: relative;
    display: flex;
    background-color: black;
    flex-direction: column;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 15px;
    padding: 7px 0px 7px 0px;
}

.option-row-col div {
    left: 15px;
    position: relative;
}

.option-row-col span {
    font-size: 18pt;
}

.option-row-col input[type=text] {
    font-family: AdventPro;
    left: 100px;
    font-size: 14pt;
    position: absolute;
}

#option-map-options label {
    font-family: AdventPro;
    font-size: 16pt;
    color: white;
}

#container_for_button_options_map {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 15px;
}

#container_for_button_options_map button {
    background-color: black;
    color: white;
    font-size: 18pt;
    padding: 7px 10px 7px 10px;
    border: none;
    font-family: AdventPro;
}