#admin_bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(250, 235, 215);
}

.bg_blur {
    background-color:rgba(250, 235, 215, 0.4) !important;
}

#admin_settings {
    position: absolute;
    background: #daecfc;
    min-width: 250px;
    width: 20%;
    top: 14%;
    left: 30px;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
}

#admin_maze {
    position: absolute;
    height: 80%;    
    width: 40%;
    left: 30%;
    top: 12%;
    background-color: azure;
}

.admin_option {
    min-width: 230px;
    width: 90%;
    min-height: 100px;
    background: #97c2e7;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
    display: flex;
    flex-direction: column;
}

.admin_option_header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
}

.admin_option_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    margin-left: 5px;
}

#admin_settings_header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 19px;
    font-family: cursive;
}

span, label {
    font-family: cursive;
}

#admin_height {
    margin-top: 5px;
}

#admin_height input {
    margin-left: 10px;
}

#admin_width input {
    margin-left: 5px;
}

.admin_option_body input[type="number"] {
    font-size: 14px;
    font-family: cursive;
}

#admin_settings_action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

#admin_settings_action button {
    font-size: 16px;
    font-family: cursive;
    background: #97c2e7;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
    border: none;
    color: black;
    cursor: pointer;
}

.blurArea {
    pointer-events: none;
    opacity: 0.6;
}

label, input[type="radio"] {
    cursor: pointer;
}

/* maze */
td {
    padding: 0px;
    margin: 0px;
}

table {
    border-spacing: 0px !important;
}

#admin_maze {
    display: block;
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    background-color: #156bc1;
}


.flashing-start {
    animation: flashing-start 1.5s ease infinite;
}

@keyframes flashing-start {
    0% {
        box-shadow: 0px 0px red;
    }

    50% {
        box-shadow: 0px 0px 15px red;
        border: solid 1px red;
    }

    100% {
        box-shadow: 0px 0px red;
    }
}

.potetial-start {
    background-color: #b41919 !important;
}

.start-cell {
    background-color: #b41919 !important;
}



.flashing-finish {
    animation: flashing-finish 1.5s ease infinite;
}

@keyframes flashing-finish {
    0% {
        box-shadow: 0px 0px green;
    }

    50% {
        box-shadow: 0px 0px 15px green;
        border: solid 1px green;
    }

    100% {
        box-shadow: 0px 0px green;
    }
}

.potetial-finish {
    background-color: green !important;
}

.finish-cell {
    background-color: green !important;
}