#user-maze-name-container {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    font-size: 13pt;
}

#user-options-maze-solution {
    position: absolute;
    background: #daecfc;
    min-width: 250px;
    width: 20%;
    left: 30px;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
}

.user_option {
    min-width: 230px;
    width: 90%;
    min-height: 100px;
    background: #97c2e7;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
    display: flex;
    flex-direction: column;
}

.user_option_header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
}

.user_option_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    margin-left: 5px;
}

.user_option_header span {
    text-align: center;
}

#user_settings_action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 7px;
}

#user_settings_action button {
    font-size: 16px;
    font-family: cursive;
    background: #97c2e7;
    border-radius: 5px;
    box-shadow: 0px 0px 3px;
    border: none;
    color: black;
    cursor: pointer;
}

.blurArea {
    pointer-events: none;
    opacity: 0.6;
}

#user_settings_header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 19px;
    font-family: cursive;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current img {
    width: 50%;
    height: 50%;
    animation: snow-person 2s ease infinite;
}

@keyframes snow-person {
    0% {
        scale: 1
    }

    50% {
        scale: 1.2
    }

    100% {
        scale: 1
    }
}

#user-step-container {
    position: absolute;
    bottom: 28px;
    width: 60px;
    padding: 5px 10px;
    background: #1aadc2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: solid 1px black;
    cursor: pointer;
}

#user-step-container:hover {
    background: #085b68;
    color: white;
}

#user-step-container:active {
    box-shadow: 0px 0px 5px black;
}

.winter-cell {
    background-color: #1aadc2 !important;
}

.autumn-cell {
    background-color: #bfc21a !important;
}

.summer-cell {
    background-color: #e68608 !important;
}

.spring-cell {
    background-color: #18c212 !important;
}
