span {
    color: white;
    font-family: AdventPro;
    font-size: 26pt;
}

#body_for_register {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.377);
}

#container_for_register {
    background: rgb(100,49,130);
    background: linear-gradient(0deg, rgba(100,49,130,1) 0%, rgba(84,53,140,1) 35%, rgba(53,69,140,1) 100%);
    border-radius: 50px;
    box-shadow: 0px 0px 15px blue;
    min-width: 35%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 10px;
}

#header span {
    font-size: 32pt;
}

#main {
    min-height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1000px) {
    #login_block {
        flex-direction: column;
        margin-bottom: 10%;
        margin-left: 0px !important;
    }

    #pass_block {
        flex-direction: column;
        margin-bottom: 10%;
        margin-left: 0px !important;
    }

    #footer {
        flex-direction: column;
    }

    #container_for_register {
        min-width: 90%;
        min-height: 90%;
    }

    .container-input {
        margin: 0 auto !important;
    }

    
    #login_block span {
        margin-bottom: 10px;
    }

    #pass_block span {
        margin-bottom: 10px;
    }
}

#main button {
    font-size: 20pt;
    color: white;
    font-family: AdventPro;
    border: none;
    background: none;
}

#register_enter {
    top: 50px;
    background-color: #315582;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    box-shadow: 0px 0px 5px #141494;
    transition: 0.3s;
}

#register_enter:hover {
    box-shadow: 0px 0px 10px black;
    transition: 0.3s;
}

#register_enter:active {
    background-color: #35458C;
    scale: 1.05;
}

#pass_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#login_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 15px;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 50px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

#footer span {
    font-size: 15pt;
}

#footer button {
    font-size: 15pt;
    color: white;
    font-family: AdventPro;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
}


.container-input {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin: 0px 0px 15px 15px;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    background: rgba(57, 63, 84, 0.8);
}

.container-input::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
}

.container-input input {
    flex-grow: 1;
    color: #BFD2FF;
    font-size: 16pt;
    vertical-align: middle;
    border: none;
    font-family: 'AdventPro';
    border-style: none; 
    background: transparent; 
    outline: none; 
}

.container-input input::-webkit-input-placeholder {
    color: #7881A1;
  }


@keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
  }


